<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="@ViewData["Description"]" />
    <title>Six Fingertips</title>

    <!-- Favicons -->

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/lib/nhsuk-frontend/css/nhsuk-9.6.2.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="nhsuk-template">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>

<header class="nhsuk-header nhsuk-header__transactional" role="banner" style="background-color: #425563">
  <div class="nhsuk-header__container">
    <div class="nhsuk-header__logo nhsuk-header__transactional--logo" style="height:64px">
        <img src="~/six_fingers_logo.png" alt="Six Fingertips Logo" class="nhsuk-header__logo" height="64" width="64"/>
    </div>
    <div class="nhsuk-header__transactional-service-name" style="display: flex; align-items: center;">
      <a class="nhsuk-header__transactional-service-name--link" href="#" style="font-size: 24px">Ask a question about English public health data (using AI)</a>
    </div>
  </div>

</header>

    <div class="nhsuk-width-container">
        <main class="nhsuk-main-wrapper" id="maincontent" role="main">
            @RenderBody()
        </main>
    </div>

    <footer role="contentinfo">
        <div class="nhsuk-footer-container" style="border-color:#78BE20">
            <div class="nhsuk-width-container">
                <h2 class="nhsuk-u-visually-hidden">Support links</h2>
                <ul class="nhsuk-footer__list">
                    <li class="nhsuk-footer__list-item">
                        <a class="nhsuk-footer__list-item-link" href="https://github.com/henrydwright/six-fingertips">GitHub</a>
                    </li>
                    <li class="nhsuk-footer__list-item">
                        <a class="nhsuk-footer__list-item-link" href="https://henrydwright.co.uk/">My website</a>
                    </li>
                </ul>
                <p class="nhsuk-footer__copyright">© Henry Wright 2025, MIT License</p>
            </div>
        </div>
    </footer>

    <script src="~/lib/nhsuk-frontend/js/nhsuk-9.6.2.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>