{
    "openapi": "3.0.1",
    "info": {
        "title": "Public Health Data API",
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://fingertips.phe.org.uk/"
        }
    ],
    "paths": {
        "/api/area_search": {
            "get": {
                "tags": [
                    "Areas"
                ],
                "summary": "Search for an area by name and area type ID. Can be useful for finding the area code (e.g. for use in other API calls) if you only have a name for an area.",
                "operationId": "Areas_SearchForAreaByNameAndType",
                "parameters": [
                    {
                        "name": "search_text",
                        "in": "query",
                        "description": "Text to search for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "area_type_ids",
                        "in": "query",
                        "description": "IDs of the area types to search for. Multiple IDs can be provided, separated by commas (e.g. '54,56,58,60,63' for CCG or sub-ICB locations)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/SearchResultArea"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/area/parent_areas": {
            "get": {
                "tags": [
                    "Areas"
                ],
                "summary": "Retrieve the parent area that contains a given area. (e.g. what PCN a GP practice is in, or what ICB a CCG is in)",
                "operationId": "Areas_GetParentAreas",
                "parameters": [
                    {
                        "name": "child_area_code",
                        "in": "query",
                        "description": "Area code of the area whose parent area is to be retrieved",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "parent_area_type_ids",
                        "in": "query",
                        "description": "Area type ID(s) of the parent area types to retrieve. Multiple IDs can be provided, separated by commas (e.g. '54,56,58,60,63' for CCG or sub-ICB locations)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AreaToParentsMap"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/areas/by_area_code": {
            "get": {
                "tags": [
                    "Areas"
                ],
                "summary": "Retrieve information on an area code or common separated list of area codes. Useful when you have retrieved an area code from another API call and want basic details on it (e.g. its name).",
                "operationId": "Areas_GetAreasByAreaCode",
                "parameters": [
                    {
                        "name": "area_codes",
                        "in": "query",
                        "description": "List of area codes. Multiple area codes can be provided, separated by commas (e.g. 'K84056,K84057' for two GP practices)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/IArea"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/areas/by_parent_area_code": {
            "get": {
                "tags": [
                    "Areas"
                ],
                "summary": "Retrieve child areas contained within a parent area (e.g. all GP practices in a PCN or LSOAs in a council area).",
                "operationId": "Areas_GetChildAreas",
                "parameters": [
                    {
                        "name": "area_type_id",
                        "in": "query",
                        "description": "Area type ID of the child area type to retrieve. Only a single area type ID can be provided at a time.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "parent_area_code",
                        "in": "query",
                        "description": "Area code of the parent area whose child areas are to be retrieved",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "profile_id",
                        "in": "query",
                        "description": "Profile ID [optional]",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/IArea"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/IArea"
                                    }
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/IArea"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/area_address": {
            "get": {
                "tags": [
                    "Areas"
                ],
                "summary": "Gets the address for a given area code (including latitude and longitude). Useful when you have retrieved an area code from another API call and want the address.",
                "operationId": "Areas_GetAreaAddress",
                "parameters": [
                    {
                        "name": "area_code",
                        "in": "query",
                        "description": "Area code of the area whose address is to be retrieved",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AreaAddress"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/quinary_population": {
            "get": {
                "tags": [
                    "Data"
                ],
                "summary": "Get breakdown of size of GP registered population by 5-year 'quinary' age bands (for a PCN or individual GP practice). For individual GP practices, also get the total registered population at that practice.",
                "operationId": "Data_GetQuinaryPopulation",
                "parameters": [
                    {
                        "name": "area_code",
                        "in": "query",
                        "description": "Area code for the GP practice or PCN to get the population breakdown for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "area_type_id",
                        "in": "query",
                        "description": "Area type ID. Either '7' for GP practice or '204' for Primary Care Network (PCN)",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "data_point_offset",
                        "in": "query",
                        "description": "[Optional] Number of years prior to the latest available year to get the data for (i.e. if '0' returns period of 2024, '1' would return 2023, '2' would return 2022, etc.) [Default is 0]",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/QuinaryPopulationBreakdown"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/quinary_population_summary": {
            "get": {
                "tags": [
                    "Data"
                ],
                "summary": "Get summary information for a GP practice given its area code. Only works for GP practices (with area type ID of 7). The summary information includes non-white ethnicity breakdown, deprivation, CQC rating, % satisfaction score, male and female life expectancy and QOF achievement.",
                "operationId": "Data_GetGPPracticeSummaryInformation",
                "parameters": [
                    {
                        "name": "area_code",
                        "in": "query",
                        "description": "Area code for the GP practice",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "area_type_id",
                        "in": "query",
                        "description": "Area type ID for GP practice (i.e. only accepts '7')",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "data_point_offset",
                        "in": "query",
                        "description": "Time period offset from the data point (i.e. latest available time period) [Default is 0]",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GPPracticeSummary"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/grouproot_summaries/by_profile_id": {
            "get": {
                "tags": [
                    "Data"
                ],
                "summary": "Gets a list of available indicators for a given profile ID and area type ID. Useful for finding what indicators are available for a certain area type and profile before retrieving the data using `Data_GetDataForSpecificArea`",
                "description": "The indicators are differentiated by age and sex where appropriate. Returns a list of group root summaries.",
                "operationId": "Data_ListIndicatorDefinitionsByProfile",
                "parameters": [
                    {
                        "name": "profile_id",
                        "in": "query",
                        "description": "Profile ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "area_type_id",
                        "in": "query",
                        "description": "Area type ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GroupRootSummary"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GroupRootSummary"
                                    }
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GroupRootSummary"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/latest_data/specific_indicators_for_single_area": {
            "get": {
                "tags": [
                    "Data"
                ],
                "summary": "Retrieve the latest value for a given indicator ID and area code.",
                "operationId": "Data_GetDataForSpecificAreaAndIndicator",
                "parameters": [
                    {
                        "name": "area_type_id",
                        "in": "query",
                        "description": "Area type ID of the area you are retrieving the indicator for",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "area_code",
                        "in": "query",
                        "description": "Area code of the area you are retrieving the indicator for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "indicator_ids",
                        "in": "query",
                        "description": "Indicator IDs you wish to get values for. If you want to find multiple indicator ID values at once provide a comma-separated list.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "restrict_to_profile_ids",
                        "in": "query",
                        "description": "IGNORE THIS PARAMETER.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GroupRoot"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GroupRoot"
                                    }
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GroupRoot"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "SearchResultArea": {
                "type": "object",
                "properties": {
                    "Code": {
                        "type": "string"
                    },
                    "Name": {
                        "type": "string"
                    },
                    "Short": {
                        "type": "string"
                    },
                    "AreaTypeId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "ParentArea": {
                        "$ref": "#/components/schemas/Area"
                    },
                    "IsComponentOf": {
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                }
            },
            "Area": {
                "type": "object",
                "properties": {
                    "Name": {
                        "type": "string"
                    },
                    "Short": {
                        "type": "string"
                    },
                    "AreaTypeId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "Sequence": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "Code": {
                        "type": "string"
                    }
                }
            },
            "GPPracticeSummary": {
                "type": "object",
                "properties": {
                    "Code": {
                        "type": "string",
                        "description": "GP practice code"
                    },
                    "Ethnicity": {
                        "type": "string",
                        "description": "Estimated proportions for non-white ethnic groups in the practice population. White ethnicity is not included in this breakdown."
                    },
                    "GpDeprivationDecile": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Deprivation decile (1-10) of the GP practice area. Higher values indicate LOWER deprivation - a score of 10 is lowest possible deprivation and 1 is highest level of deprivation."
                    },
                    "CQCRatingID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "CQC rating (1-4). 4 is outstanding, 3 is good, 2 is requires improvement, 1 is inadequate."
                    },
                    "CQCRatingReportDate": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "CQCRatingReportLink": {
                        "type": "string",
                        "format": "uri",
                        "description": "URL to the CQC rating report"
                    },
                    "AdHocValues": {
                        "type": "object",
                        "properties": {
                            "Qof": {
                                "type": "object",
                                "properties": {
                                    "AgeId": {
                                        "type": "integer",
                                        "format": "int32"
                                    },
                                    "SexId": {
                                        "type": "integer",
                                        "format": "int32"
                                    },
                                    "IndicatorId": {
                                        "type": "integer",
                                        "format": "int32"
                                    },
                                    "AreaCode": {
                                        "type": "string"
                                    },
                                    "Denom": {
                                        "type": "number",
                                        "format": "double",
                                        "description": "Total number of possible QOF points"
                                    },
                                    "Denom2": {
                                        "type": "number",
                                        "format": "double"
                                    },
                                    "Year": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "QOF achievement year"
                                    },
                                    "YearRange": {
                                        "type": "integer",
                                        "format": "int32"
                                    },
                                    "Quarter": {
                                        "type": "integer",
                                        "format": "int32"
                                    },
                                    "Month": {
                                        "type": "integer",
                                        "format": "int32"
                                    },
                                    "Sig": {
                                        "type": "object"
                                    },
                                    "CategoryTypeId": {
                                        "type": "integer",
                                        "format": "int32"
                                    },
                                    "CategoryId": {
                                        "type": "integer",
                                        "format": "int32"
                                    },
                                    "DataDate": {
                                        "type": "string",
                                        "format": "date-time",
                                        "nullable": true
                                    },
                                    "Val": {
                                        "type": "number",
                                        "format": "double",
                                        "description": "% of possible QOF points that have been achieved"
                                    },
                                    "Count": {
                                        "type": "number",
                                        "format": "double",
                                        "description": "Number of QOF points achieved"
                                    }
                                }
                            },
                            "Recommend": {
                                "type": "object",
                                "properties": {
                                    "Val": {
                                        "type": "number",
                                        "format": "double",
                                        "description": "% having a positive experience of their practice based on GP patient survey data"
                                    },
                                    "Count": {
                                        "type": "number",
                                        "format": "double"
                                    },
                                    "ValF": {
                                        "type": "string"
                                    }
                                }
                            },
                            "LifeExpectancyMale": {
                                "type": "object",
                                "properties": {
                                    "Val": {
                                        "type": "number",
                                        "format": "double"
                                    },
                                    "Count": {
                                        "type": "number",
                                        "format": "double"
                                    },
                                    "ValF": {
                                        "type": "string"
                                    }
                                }
                            },
                            "LifeExpectancyFemale": {
                                "type": "object",
                                "properties": {
                                    "Val": {
                                        "type": "number",
                                        "format": "double"
                                    },
                                    "Count": {
                                        "type": "number",
                                        "format": "double"
                                    },
                                    "ValF": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "GroupRootSummary": {
                "type": "object",
                "properties": {
                    "IndicatorName": {
                        "type": "string",
                        "description": "Description of what data point the indicator represents"
                    },
                    "IID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The indicator ID"
                    },
                    "Sex": {
                        "$ref": "#/components/schemas/Sex",
                        "description": "The groups of sex the indicator covers"
                    },
                    "Age": {
                        "$ref": "#/components/schemas/Age",
                        "description": "The age or age range the indicator covers"
                    },
                    "Category": {
                        "$ref": "#/components/schemas/Category"
                    },
                    "DateChanges": {
                        "$ref": "#/components/schemas/IndicatorDateChange",
                        "description": "When the indicator was last updated"
                    },
                    "DataQualityNote": {
                        "$ref": "#/components/schemas/DataQualityNote",
                        "description": "Any data quality notes associated with the indicator"
                    },
                    "GroupId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "StateSex": {
                        "type": "boolean"
                    },
                    "StateAge": {
                        "type": "boolean"
                    },
                    "StateYearRange": {
                        "type": "boolean"
                    },
                    "TimePeriod": {
                        "type": "string",
                        "description": "The time period the indicator covers"
                    },
                    "Unit": {
                        "$ref": "#/components/schemas/Unit",
                        "description": "The unit of measurement that the indicator is measured in (e.g. per 100,000, %, etc.)"
                    },
                    "ValueType": {
                        "$ref": "#/components/schemas/ValueType",
                        "description": "The method that the indicator value was calculated by (e.g. directly standardised rate, crude rate, etc.)"
                    },
                    "YearRange": {
                        "type": "integer",
                        "format": "int32",
                        "description": "How many whole years are covered by the time period the indicator is measured over"
                    }
                }
            },
            "GroupRoot": {
                "type": "object",
                "properties": {
                    "Grouping": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Grouping"
                        },
                        "description": "IGNORE THIS PARAMETER"
                    },
                    "Data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CoreDataSet"
                        },
                        "description": "List of values (with confidence intervals and raw counts) for the indicator"
                    },
                    "Sequence": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "DateChanges": {
                        "$ref": "#/components/schemas/IndicatorDateChange"
                    },
                    "GroupId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "IID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Indicator ID"
                    },
                    "Category": {
                        "$ref": "#/components/schemas/Category"
                    },
                    "StateSex": {
                        "type": "boolean"
                    },
                    "Sex": {
                        "$ref": "#/components/schemas/Sex",
                        "description": "The groups of sex the indicator covers"
                    },
                    "Age": {
                        "$ref": "#/components/schemas/Age",
                        "description": "The age or age range the indicator covers"
                    },
                    "StateAge": {
                        "type": "boolean"
                    },
                    "StateYearRange": {
                        "type": "boolean"
                    },
                    "YearRange": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "PolarityId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "ComparatorMethodId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "RecentTrends": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/TrendMarkerResult"
                        }
                    }
                }
            },
            "Grouping": {
                "type": "object",
                "properties": {
                    "GroupingId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "GroupId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "SexId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "AgeId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "CategoryTypeId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "CategoryId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "AreaTypeId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "ComparatorId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "IndicatorId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "PolarityId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "ComparatorMethodId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "SigLevel": {
                        "type": "number",
                        "format": "double"
                    },
                    "ComparatorTargetId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "Sequence": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "BaselineYear": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "BaselineQuarter": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "BaselineMonth": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "BaselineDataDate": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "DataPointYear": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "DataPointQuarter": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "DataPointMonth": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "DataPointDataDate": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "YearRange": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "Period": {
                        "type": "string"
                    },
                    "ComparatorData": {
                        "$ref": "#/components/schemas/CoreDataSet"
                    }
                }
            },
            "TrendMarkerResult": {
                "type": "object",
                "properties": {
                    "Marker": {
                        "type": "integer",
                        "format": "int32",
                        "enum": [
                            0,
                            1,
                            2,
                            3
                        ]
                    },
                    "MarkerForMostRecentValueComparedWithPreviousValue": {
                        "type": "integer",
                        "format": "int32",
                        "enum": [
                            0,
                            1,
                            2,
                            3
                        ]
                    },
                    "PointsUsed": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "Message": {
                        "type": "string"
                    }
                }
            },
            "CoreDataSet": {
                "type": "object",
                "properties": {
                    "AgeId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "SexId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "IndicatorId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Indicator ID for the indicator which explains the meaning of this value"
                    },
                    "AreaCode": {
                        "type": "string",
                        "description": "Area code this value relates to"
                    },
                    "Denom": {
                        "type": "number",
                        "format": "double"
                    },
                    "Denom2": {
                        "type": "number",
                        "format": "double"
                    },
                    "Year": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Year that the value relates to"
                    },
                    "YearRange": {
                        "type": "integer",
                        "format": "int32",
                        "description": "How many years the value covers"
                    },
                    "Quarter": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "Month": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "Sig": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    "Significance": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "NoteId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "CategoryTypeId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "CategoryId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "DataDate": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "LoCI": {
                        "type": "number",
                        "format": "double",
                        "description": "Lower confidence interval for the value of the indicator"
                    },
                    "UpCI": {
                        "type": "number",
                        "format": "double",
                        "description": "Upper confidence interval for the value of the indicator"
                    },
                    "LoCIF": {
                        "type": "string"
                    },
                    "UpCIF": {
                        "type": "string"
                    },
                    "LoCI99_8": {
                        "type": "number",
                        "format": "double"
                    },
                    "UpCI99_8": {
                        "type": "number",
                        "format": "double"
                    },
                    "LoCI99_8F": {
                        "type": "string"
                    },
                    "UpCI99_8F": {
                        "type": "string"
                    },
                    "Val": {
                        "type": "number",
                        "format": "double",
                        "description": "Value of the indicator"
                    },
                    "ValF": {
                        "type": "string"
                    },
                    "Count": {
                        "type": "number",
                        "format": "double",
                        "description": "Raw count value for the indicator (i.e. the true value of the indicator before it has been standardised for population, etc.)"
                    }
                }
            },
            "Sex": {
                "type": "object",
                "properties": {
                    "Id": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "Name": {
                        "type": "string"
                    }
                }
            },
            "Age": {
                "type": "object",
                "properties": {
                    "Id": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "Name": {
                        "type": "string"
                    },
                    "Sequence": {
                        "type": "number",
                        "format": "float"
                    }
                }
            },
            "Unit": {
                "type": "object",
                "properties": {
                    "Id": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "Value": {
                        "type": "number",
                        "format": "double"
                    },
                    "Label": {
                        "type": "string"
                    },
                    "ShowLeft": {
                        "type": "boolean"
                    }
                }
            },
            "ValueType": {
                "type": "object",
                "properties": {
                    "Id": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "Name": {
                        "type": "string"
                    }
                }
            },
            "IndicatorDateChange": {
                "type": "object",
                "properties": {
                    "HasDataChangedRecently": {
                        "type": "boolean"
                    },
                    "DateOfLastChange": {
                        "type": "string"
                    }
                }
            },
            "Category": {
                "type": "object",
                "properties": {
                    "Id": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "CategoryTypeId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "Name": {
                        "type": "string"
                    },
                    "ShortName": {
                        "type": "string"
                    },
                    "Sequence": {
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "DataQualityNote": {
                "type": "object",
                "properties": {
                    "Id": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "Text": {
                        "type": "string"
                    },
                    "Comment": {
                        "type": "string"
                    }
                }
            },
            "QuinaryPopulationBreakdown": {
                "type": "object",
                "required": ["Code", "Values", "PopulationTotals", "Labels", "Period"],
                "properties": {
                    "Code": {
                        "type": "string",
                        "description": "GP practice or PCN code"
                    },
                    "Values": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "number",
                                "format": "double"
                            }
                        },
                        "description": "Percentage (%) of total population in that age and sex band given as two arrays (1=male, 2=female). Each array follows same order as 'Labels' array."
                    },
                    "PopulationTotals": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "integer",
                                "format": "int32"
                            }
                        },
                        "description": "Population totals by age and sex given as two arrays (1=male, 2=female). Each array follows same order as 'Labels' array."
                    },
                    "Labels": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Labels for each age band"
                    },
                    "IndicatorName": {
                        "type": "string"
                    },
                    "IndicatorId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "Period": {
                        "type": "string",
                        "description": "Year to which the population data relates"
                    },
                    "ChildAreaCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "For PCNs only - the number of practices in that PCN"
                    },
                    "ListSize": {
                        "type": "object",
                        "description": "For GP practices only - the total registered population at that practice",
                        "properties": {
                            "Val": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Total registered population at that practice"
                            },
                            "Count": {
                                "type": "integer",
                                "format": "int32"
                            },
                            "ValF": {
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "IArea": {
                "type": "object",
                "properties": {
                    "Code": {
                        "type": "string",
                        "readOnly": true
                    },
                    "Sequence": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "Name": {
                        "type": "string",
                        "readOnly": true
                    },
                    "ShortName": {
                        "type": "string",
                        "readOnly": true
                    },
                    "AreaTypeId": {
                        "type": "integer",
                        "format": "int32",
                        "readOnly": true
                    },
                    "IsAreaList": {
                        "type": "boolean",
                        "readOnly": true
                    }
                }
            },
            "AreaToParentsMap": {
                "type": "object",
                "properties": {
                    "Code": {
                        "type": "string"
                    },
                    "AreaTypeId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "Parents": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AreaToParentsMap"
                        }
                    }
                }
            },
            "AreaAddress": {
                "type": "object",
                "properties": {
                    "Name": {
                        "type": "string"
                    },
                    "Short": {
                        "type": "string"
                    },
                    "AreaTypeId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "A1": {
                        "type": "string"
                    },
                    "A2": {
                        "type": "string"
                    },
                    "A3": {
                        "type": "string"
                    },
                    "A4": {
                        "type": "string"
                    },
                    "Postcode": {
                        "type": "string"
                    },
                    "IsCurrent": {
                        "type": "boolean"
                    },
                    "Code": {
                        "type": "string"
                    },
                    "LatLng": {
                        "$ref": "#/components/schemas/LatitudeLongitude"
                    }
                }
            },
            "LatitudeLongitude": {
                "type": "object",
                "properties": {
                    "Lat": {
                        "type": "number",
                        "format": "double"
                    },
                    "Lng": {
                        "type": "number",
                        "format": "double"
                    }
                }
            }
        }
    },
    "x-original-swagger-version": "2.0"
}