{
    "openapi": "3.0.1",
    "info": {
        "title": "Public Health Data API",
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://fingertips.phe.org.uk/"
        }
    ],
    "paths": {
        "/api/area_categories": {
            "get": {
                "tags": [
                    "Areas"
                ],
                "summary": "Get the categories of an area",
                "description": "Returns a dictionary of area code to category ID",
                "operationId": "Areas_GetAreaCategories",
                "parameters": [
                    {
                        "name": "profile_id",
                        "in": "query",
                        "description": "Profile ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "child_area_type_id",
                        "in": "query",
                        "description": "Child area type ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "category_type_id",
                        "in": "query",
                        "description": "Category type ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "integer",
                                        "format": "int32"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "integer",
                                        "format": "int32"
                                    }
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "integer",
                                        "format": "int32"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/area_types": {
            "get": {
                "tags": [
                    "Areas"
                ],
                "summary": "Get a list of area types",
                "description": "If the profile_ids Parameter is omitted then all defined area types will be returned.",
                "operationId": "Areas_GetAreaTypes",
                "parameters": [
                    {
                        "name": "profile_ids",
                        "in": "query",
                        "description": "List of profile IDs [optional]",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "area_type_ids",
                        "in": "query",
                        "description": "List of area type IDs to include [optional]",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "include_components",
                        "in": "query",
                        "description": "Whether to include component area types [yes/no - no is default]",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AreaType"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AreaType"
                                    }
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AreaType"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/area_types/with_data": {
            "get": {
                "tags": [
                    "Areas"
                ],
                "summary": "Get a list of area types with data",
                "operationId": "Areas_GetAreaTypesWithData",
                "parameters": [
                    {
                        "name": "area_type_ids",
                        "in": "query",
                        "description": "List of area type IDs to include [optional]",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "include_components",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AreaType"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AreaType"
                                    }
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AreaType"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/area_types/parent_area_types": {
            "get": {
                "tags": [
                    "Areas"
                ],
                "summary": "Gets the area types in a profile along with the available parent area types",
                "description": "Returns a list of area types each with a list of available parent area types",
                "operationId": "Areas_GetAreaTypesWithParentAreaTypes",
                "parameters": [
                    {
                        "name": "profile_id",
                        "in": "query",
                        "description": "Profile ID",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "template_profile_id",
                        "in": "query",
                        "description": "ID of the profile to use as template if accessing search results",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "include_components",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AreaType"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AreaType"
                                    }
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AreaType"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/area_address": {
            "get": {
                "tags": [
                    "Areas"
                ],
                "summary": "Gets the address with latitude and longitude of a point area",
                "operationId": "Areas_GetAreaAddress",
                "parameters": [
                    {
                        "name": "area_code",
                        "in": "query",
                        "description": "Area code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AreaAddress"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AreaAddress"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/AreaAddress"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/area_address/by_area_code": {
            "get": {
                "tags": [
                    "Areas"
                ],
                "summary": "Get area and its address",
                "operationId": "Areas_GetAreaWithAddress",
                "parameters": [
                    {
                        "name": "area_code",
                        "in": "query",
                        "description": "Area code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "include_coordinates",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AreaAddress"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AreaAddress"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/AreaAddress"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/area_addresses/by_parent_area_code": {
            "get": {
                "tags": [
                    "Areas"
                ],
                "summary": "Gets a list of areas and their addresses within a parent area",
                "operationId": "Areas_GetChildAreasWithAddresses",
                "parameters": [
                    {
                        "name": "parent_area_code",
                        "in": "query",
                        "description": "Parent area code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "area_type_id",
                        "in": "query",
                        "description": "Area type ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AreaAddress"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AreaAddress"
                                    }
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AreaAddress"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/area_addresses/csv/by_parent_area_code": {
            "get": {
                "tags": [
                    "Areas"
                ],
                "summary": "    Gets a list of areas and their addresses within a parent area as a CSV file. \r\nGP practices are currently the only areas for which addresses are defined.",
                "operationId": "Areas_GetChildAreasWithAddressesAsCsv",
                "parameters": [
                    {
                        "name": "parent_area_code",
                        "in": "query",
                        "description": "Parent area code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "area_type_id",
                        "in": "query",
                        "description": "Area type ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/areas/by_area_type": {
            "get": {
                "tags": [
                    "Areas"
                ],
                "summary": "Get a list of areas of a specific area type",
                "operationId": "Areas_GetAreasOfAreaType",
                "parameters": [
                    {
                        "name": "area_type_id",
                        "in": "query",
                        "description": "Area type ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "profile_id",
                        "in": "query",
                        "description": "Profile ID",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "template_profile_id",
                        "in": "query",
                        "description": "Template profile ID [optional]",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "retrieve_ignored_areas",
                        "in": "query",
                        "description": "Whether to retrieve areas that are ignored for the profile [yes or no accepted] [optional]",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "Ignore this parameter",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/IArea"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/IArea"
                                    }
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/IArea"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/areas/by_parent_area_code": {
            "get": {
                "tags": [
                    "Areas"
                ],
                "summary": "Get a list of areas that belong to a parent area",
                "operationId": "Areas_GetAreasOfAreaType_ByParentAreaCode",
                "parameters": [
                    {
                        "name": "area_type_id",
                        "in": "query",
                        "description": "Area type ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "parent_area_code",
                        "in": "query",
                        "description": "Parent area code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "profile_id",
                        "in": "query",
                        "description": "Profile ID [optional]",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/IArea"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/IArea"
                                    }
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/IArea"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/areas/by_area_code": {
            "get": {
                "tags": [
                    "Areas"
                ],
                "summary": "Get a list of areas from their area codes",
                "operationId": "Areas_GetAreasOfAreaType_ByAreaCode",
                "parameters": [
                    {
                        "name": "area_codes",
                        "in": "query",
                        "description": "List of area codes",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/IArea"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/IArea"
                                    }
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/IArea"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/areas/by_area_type_and_area_name_search_text": {
            "get": {
                "tags": [
                    "Areas"
                ],
                "summary": "Get a list of areas of a specific area type and area name search text",
                "operationId": "Areas_GetAreasOfAreaTypeAndAreaNameSearchText",
                "parameters": [
                    {
                        "name": "area_type_id",
                        "in": "query",
                        "description": "Area type ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "area_name_search_text",
                        "in": "query",
                        "description": "Area name search text",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/IArea"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/IArea"
                                    }
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/IArea"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/area/by_area_type_and_parent_code": {
            "get": {
                "tags": [
                    "Areas"
                ],
                "summary": "Get the area based on area type and parent code",
                "operationId": "Areas_GetAreaByAreaTypeAndParentCode",
                "parameters": [
                    {
                        "name": "area_type_id",
                        "in": "query",
                        "description": "Area type ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "parent_code",
                        "in": "query",
                        "description": "Parent code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "profile_id",
                        "in": "query",
                        "description": "Profile ID",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IArea"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IArea"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/IArea"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/areas/nearest_neighbours": {
            "get": {
                "tags": [
                    "Areas"
                ],
                "summary": "Get a list of Nearest neighbours areas that belong to a area type and area code",
                "operationId": "Areas_GetNearestNeighbourAreasOfAreaTypeAndAreaCode",
                "parameters": [
                    {
                        "name": "area_type_id",
                        "in": "query",
                        "description": "Area type ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "area_code",
                        "in": "query",
                        "description": "Area code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NeighbourAreaDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NeighbourAreaDetails"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/NeighbourAreaDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/areas_with_addresses/by_area_code": {
            "get": {
                "tags": [
                    "Areas"
                ],
                "summary": "Get a list of areas with address from their area codes",
                "operationId": "Areas_GetAreasWithAddresses",
                "parameters": [
                    {
                        "name": "area_codes",
                        "in": "query",
                        "description": "List of area codes",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AreaAddress"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AreaAddress"
                                    }
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AreaAddress"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/area/parent_areas": {
            "get": {
                "tags": [
                    "Areas"
                ],
                "summary": "Gets the parent areas of an area",
                "description": "Returns a hierarchy of parent areas",
                "operationId": "Areas_GetParentAreas",
                "parameters": [
                    {
                        "name": "child_area_code",
                        "in": "query",
                        "description": "Area code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "parent_area_type_ids",
                        "in": "query",
                        "description": "Comma separated list of area type IDs",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AreaToParentsMap"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AreaToParentsMap"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/parent_to_child_areas": {
            "get": {
                "tags": [
                    "Areas"
                ],
                "summary": "Gets a dictionary of parent area code to a list of child area codes",
                "description": "Can be used to either get all child areas of a type mapped to parents of a specific type or nearest neighbours of a specific area\r\n\r\n(i) /api/parent_to_child_areas?child_area_type_id=102&amp;parent_area_type_id=6\r\n\r\n(ii) /api/parent_to_child_areas?nearest_neighbour_code=nn-1-E10000014",
                "operationId": "Areas_GetParentToChildAreaMapping",
                "parameters": [
                    {
                        "name": "child_area_type_id",
                        "in": "query",
                        "description": "Child area type ID [optional]",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "parent_area_type_id",
                        "in": "query",
                        "description": "Parent area type ID [optional]",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "profile_id",
                        "in": "query",
                        "description": "Profile ID for filtering of certain areas [optional]",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "nearest_neighbour_code",
                        "in": "query",
                        "description": "Nearest neighbour code [optional]",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "User ID [optional]",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "retrieve_ignored_areas",
                        "in": "query",
                        "description": "Whether to retrieve areas that are ignored for the profile [yes or no accepted] [optional]",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/parent_to_child_areas_by_parent_code": {
            "get": {
                "tags": [
                    "Areas"
                ],
                "summary": "Gets a dictionary of parent area code to a list of child area codes",
                "operationId": "Areas_GetParentToChildAreaMappingByParentCode",
                "parameters": [
                    {
                        "name": "child_area_type_id",
                        "in": "query",
                        "description": "Child area type ID [optional]",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "parent_area_type_id",
                        "in": "query",
                        "description": "Parent area type ID [optional]",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "profile_id",
                        "in": "query",
                        "description": "Profile ID for filtering of certain areas [optional]",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "nearest_neighbour_code",
                        "in": "query",
                        "description": "Nearest neighbour code [optional]",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "parent_code",
                        "in": "query",
                        "description": "Parent code [optional]",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "retrieve_ignored_areas",
                        "in": "query",
                        "description": "Whether to retrieve areas that are ignored for the profile [yes or no accepted] [optional]",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/area_search_by_proximity": {
            "get": {
                "tags": [
                    "Areas"
                ],
                "summary": "Gets a list of areas within 5 miles radius of a point",
                "description": "Only will work for point areas (e.g. GP practices) not polygon areas (e.g. CCGs)",
                "operationId": "Areas_GetNearbyAreas",
                "parameters": [
                    {
                        "name": "easting",
                        "in": "query",
                        "description": "Easting",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "northing",
                        "in": "query",
                        "description": "Northing",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "area_type_id",
                        "in": "query",
                        "description": "Area type ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/NearByAreas"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/NearByAreas"
                                    }
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/NearByAreas"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/place_postcode_search": {
            "get": {
                "tags": [
                    "Areas"
                ],
                "summary": "Gets a list of places or postcodes and the broader geographical area they are located in",
                "operationId": "Areas_GetPlaceNameSearchResults",
                "parameters": [
                    {
                        "name": "search_text",
                        "in": "query",
                        "description": "Text to search for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "polygon_area_type_id",
                        "in": "query",
                        "description": "Area type ID of the areas containing the places searched for",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "parent_areas_to_include_in_results",
                        "in": "query",
                        "description": "Area type IDs of the parent types that should be included in the search results",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "include_coordinates",
                        "in": "query",
                        "description": "Whether or not to include eastings and northings",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GeographicalSearchResult"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GeographicalSearchResult"
                                    }
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GeographicalSearchResult"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/area_search": {
            "get": {
                "tags": [
                    "Areas"
                ],
                "summary": "Searches geographical area names",
                "operationId": "Areas_GetAreaSearchResults",
                "parameters": [
                    {
                        "name": "search_text",
                        "in": "query",
                        "description": "Text to search for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "area_type_ids",
                        "in": "query",
                        "description": "IDs of the area types to search for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/SearchResultArea"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/SearchResultArea"
                                    }
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/SearchResultArea"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/parent_area_of_specific_type_for_child_areas": {
            "get": {
                "tags": [
                    "Areas"
                ],
                "summary": "Gets the parent area types of all the child areas of a parent area",
                "description": "e.g. the Deprivation Decile of all the practices within a CCG",
                "operationId": "Areas_GetParentAreasOfChildAreas",
                "parameters": [
                    {
                        "name": "parent_area_code",
                        "in": "query",
                        "description": "Parent area code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "child_area_type_id",
                        "in": "query",
                        "description": "Child area type ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "parent_area_type_id",
                        "in": "query",
                        "description": "Parent area type ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "$ref": "#/components/schemas/IArea"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "$ref": "#/components/schemas/IArea"
                                    }
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "$ref": "#/components/schemas/IArea"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/all_data/csv/for_one_indicator": {
            "get": {
                "tags": [
                    "Data"
                ],
                "summary": "Get all the data available for all area types and for one indicator in CSV format. This is the easiest way to get the data.",
                "description": "This service returns data in CSV not JSON format so the response will not be viewable on this page",
                "operationId": "Data_GetDataFileForOneIndicator",
                "parameters": [
                    {
                        "name": "indicator_id",
                        "in": "query",
                        "description": "Indicator ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "profile_id",
                        "in": "query",
                        "description": "Profile ID [optional]",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/all_data/csv/by_indicator_id": {
            "get": {
                "tags": [
                    "Data"
                ],
                "summary": "Get data for specific indicators in CSV format.",
                "description": "This service returns data in CSV not JSON format so the response will not be viewable on this page",
                "operationId": "Data_GetDataFileForIndicatorIds",
                "parameters": [
                    {
                        "name": "indicator_ids",
                        "in": "query",
                        "description": "Comma separated list of indicator IDs [Maximum 100]",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "child_area_type_id",
                        "in": "query",
                        "description": "Child area type ID [optional]",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "parent_area_type_id",
                        "in": "query",
                        "description": "Parent area type ID [optional]",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "profile_id",
                        "in": "query",
                        "description": "Profile ID [optional]",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "parent_area_code",
                        "in": "query",
                        "description": "The parent area code [default is England]",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/all_data/csv/by_group_id": {
            "get": {
                "tags": [
                    "Data"
                ],
                "summary": "Get data for all the indicators in a profile group in CSV format",
                "description": "This service returns data in CSV not JSON format so the response will not be viewable on this page",
                "operationId": "Data_GetDataFileForGroup",
                "parameters": [
                    {
                        "name": "child_area_type_id",
                        "in": "query",
                        "description": "Child area type ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "parent_area_type_id",
                        "in": "query",
                        "description": "Parent area type ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "group_id",
                        "in": "query",
                        "description": "Profile group ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "parent_area_code",
                        "in": "query",
                        "description": "The parent area code [default is England]",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/all_data/csv/by_profile_id": {
            "get": {
                "tags": [
                    "Data"
                ],
                "summary": "Get data for all the indicators in a profile in CSV format",
                "description": "This service returns data in CSV not JSON format so the response will not be viewable on this page",
                "operationId": "Data_GetDataFileForProfile",
                "parameters": [
                    {
                        "name": "child_area_type_id",
                        "in": "query",
                        "description": "Child area type ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "parent_area_type_id",
                        "in": "query",
                        "description": "Parent area type ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "profile_id",
                        "in": "query",
                        "description": "Profile ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "parent_area_code",
                        "in": "query",
                        "description": "The parent area code [default is England]",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/population_age_distribution/csv": {
            "get": {
                "tags": [
                    "Data"
                ],
                "summary": "Gets 5-year age range populations for all the GP practices within a parent area",
                "operationId": "Data_GetDataFileForPopulationAgeDistribution",
                "parameters": [
                    {
                        "name": "area_type_id",
                        "in": "query",
                        "description": "Parent area type id (e.g. CCG)",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "area_code",
                        "in": "query",
                        "description": "Parent area code (e.g. a CCG area code)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "profile_key",
                        "in": "query",
                        "description": "Profile key [optional]",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "group_ids",
                        "in": "query",
                        "description": "List of group ids [optional]",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/latest_data/all_indicators_in_profile_group_for_child_areas": {
            "get": {
                "tags": [
                    "Data"
                ],
                "summary": "Get the most recent data for a profile group",
                "operationId": "Data_GetGroupDataAtDataPoint",
                "parameters": [
                    {
                        "name": "profile_id",
                        "in": "query",
                        "description": "Profile ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "group_id",
                        "in": "query",
                        "description": "Profile group ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "area_type_id",
                        "in": "query",
                        "description": "Area type ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "parent_area_code",
                        "in": "query",
                        "description": "Parent area code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GroupRoot"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GroupRoot"
                                    }
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GroupRoot"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/latest_data/specific_indicators_for_child_areas": {
            "get": {
                "tags": [
                    "Data"
                ],
                "summary": "Get the most recent data for a list of indicator IDs",
                "operationId": "Data_GetGroupDataAtDataPoint_ChildAreas",
                "parameters": [
                    {
                        "name": "area_type_id",
                        "in": "query",
                        "description": "Area type ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "parent_area_code",
                        "in": "query",
                        "description": "Parent area code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "indicator_ids",
                        "in": "query",
                        "description": "Comma separated list of indicator IDs [Maximum 100]",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "profile_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "restrict_to_profile_ids",
                        "in": "query",
                        "description": "Comma separated list of profile IDs",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GroupRoot"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GroupRoot"
                                    }
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GroupRoot"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/latest_data/specific_indicators_for_single_area": {
            "get": {
                "tags": [
                    "Data"
                ],
                "summary": "Get the most recent data for a list of indicator IDs",
                "operationId": "Data_GetGroupDataAtDataPointForSpecificArea",
                "parameters": [
                    {
                        "name": "area_type_id",
                        "in": "query",
                        "description": "Area type ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "area_code",
                        "in": "query",
                        "description": "Area code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "indicator_ids",
                        "in": "query",
                        "description": "Comma separated list of indicator IDs [Maximum 100]",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "restrict_to_profile_ids",
                        "in": "query",
                        "description": "Comma separated list of profile IDs",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GroupRoot"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GroupRoot"
                                    }
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GroupRoot"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/latest_data/single_indicator_for_all_areas": {
            "get": {
                "tags": [
                    "Data"
                ],
                "summary": "Get a list of the core data for all the areas within a parent area",
                "operationId": "Data_GetAreaValues",
                "parameters": [
                    {
                        "name": "group_id",
                        "in": "query",
                        "description": "Profile group ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "area_type_id",
                        "in": "query",
                        "description": "Area type ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "parent_area_code",
                        "in": "query",
                        "description": "Parent area code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "comparator_id",
                        "in": "query",
                        "description": "Comparator ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "indicator_id",
                        "in": "query",
                        "description": "Indicator ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "sex_id",
                        "in": "query",
                        "description": "Sex ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "age_id",
                        "in": "query",
                        "description": "Age ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "year_range",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "profile_id",
                        "in": "query",
                        "description": "Profile ID",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "template_profile_id",
                        "in": "query",
                        "description": "ID of the profile to use as template if accessing search results",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "data_point_offset",
                        "in": "query",
                        "description": "Offset in years, quarters or months from the most recent time point [default is 0]",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "category_type_id",
                        "in": "query",
                        "description": "Category type ID [optional]",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "category_id",
                        "in": "query",
                        "description": "Category ID [optional]",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CoreDataSet"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CoreDataSet"
                                    }
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CoreDataSet"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/latest_data/all_indicators_in_profile_group_for_single_area": {
            "get": {
                "tags": [
                    "Data"
                ],
                "summary": "Get data values for a group for one specific area",
                "description": "Get CoreDataSet objects for every group root in a domain",
                "operationId": "Data_GetGroupDataAtDataPointOfSpecificAreas",
                "parameters": [
                    {
                        "name": "area_code",
                        "in": "query",
                        "description": "Area code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "area_type_id",
                        "in": "query",
                        "description": "Area type ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "profile_id",
                        "in": "query",
                        "description": "Profile ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "group_id",
                        "in": "query",
                        "description": "Group ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CoreDataSet"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CoreDataSet"
                                    }
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CoreDataSet"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/latest_data/all_indicators_in_multiple_profile_groups_for_multiple_areas": {
            "get": {
                "tags": [
                    "Data"
                ],
                "summary": "Get an ordered list of indicators with core data for requested profiles groups and areas",
                "operationId": "Data_GetAreaData",
                "parameters": [
                    {
                        "name": "group_ids",
                        "in": "query",
                        "description": "Comma separated list of profile group IDs",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "area_type_id",
                        "in": "query",
                        "description": "Area type ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "area_codes",
                        "in": "query",
                        "description": "Comma separated list of area codes",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "comparator_area_codes",
                        "in": "query",
                        "description": "Comma separated list of comparator area codes",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "include_time_periods",
                        "in": "query",
                        "description": "Whether to include time periods in response [yes/no - no is default]",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "latest_data_only",
                        "in": "query",
                        "description": "Whether to include only the latest data [yes/no - no is default]",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/SimpleAreaData"
                                            }
                                        }
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/SimpleAreaData"
                                            }
                                        }
                                    }
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/SimpleAreaData"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/recent_trends/for_child_areas": {
            "get": {
                "tags": [
                    "Data"
                ],
                "summary": "Get the recent trends for every area under a parent area.",
                "operationId": "Data_GetTrendMarkers",
                "parameters": [
                    {
                        "name": "parent_area_code",
                        "in": "query",
                        "description": "Parent area code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "group_id",
                        "in": "query",
                        "description": "Profile group ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "area_type_id",
                        "in": "query",
                        "description": "Area type ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "indicator_id",
                        "in": "query",
                        "description": "Indicator ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "sex_id",
                        "in": "query",
                        "description": "Sex ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "age_id",
                        "in": "query",
                        "description": "Age ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "year_range",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "category_type_id",
                        "in": "query",
                        "description": "Category type ID [optional]",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "category_id",
                        "in": "query",
                        "description": "Category ID [optional]",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
[...]
